/**
 * RexMarkitup be_style Plugin for Redaxo
 *
 * @version 0.9.8
 * @link http://markitup.jaysalvat.com
 * @author Redaxo be_style plugin: rexdev.de
 * @package redaxo 4.4.x/4.5.x
 */

/* fix outline bug */
div.rex-content-body {
    overflow: hidden;
}

.markItUp * {
  margin:0px;
  padding:0px;
  outline:none;
}
.markItUp a:link,
.markItUp a:visited {
  color:#000;
  text-decoration:none;
}
.markItUp  {
  width:99.99%;
  margin:0;
  border:0;
}
.markItUpContainer  {
  border:1px solid #BFBFBF;
  border-radius: 2px 2px 2px 2px;
  background:transparent;
  padding:0;
}
.markItUpHeader {
    background:#E6E6E6;
    background: linear-gradient(to bottom, #FAFAFA 0%, #E6E6E6 62%, #D9D9D9 100%) #E6E6E6;
    height: auto;
    padding: 5px 0 3px 7px;
}
.markItUpEditor {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  font:12px monaco, menlo, consolas, lucida console, courier new, monospace;
  padding: 1% 0 0 1%;
  margin:0 !important;
  width: 100% !important;
  border: 0;
  min-height: 200px;
  background:url('images/bg-editor-plain.png') repeat-x #fff;
  clear:both;
  display:block;
  line-height:18px;
  overflow:auto;
}
.markItUpPreviewFrame  {
  overflow:auto;
  background:url('images/bg-editor-plain.png') repeat-x #fff;
  border:none;
  width:99.99%;
  height:300px;
  margin:0;
}
.markItUpFooter {
  background:#E6E6E6;
  background: linear-gradient(to bottom, #FAFAFA 0%, #E6E6E6 62%, #D9D9D9 100%) #E6E6E6;
  width:99.99%;
  cursor:n-resize;
  padding:0;
  margin:0;
  border-top: 1px solid #E3E3E3;
}
.markItUpResizeHandle {
    background: url("images/handle.png") repeat scroll 0 0 transparent;
    border-top:2px solid #FAFAFA;
    border-bottom:2px solid #D9D9D9;
    cursor: n-resize;
    margin: 0 auto;
    overflow: hidden;
    width: 50%;
    height: 6px;
  /*-webkit-transition: height 0.15s ease-in-out;
     -moz-transition: height 0.15s ease-in-out;
      -ms-transition: height 0.15s ease-in-out;
       -o-transition: height 0.15s ease-in-out;
          transition: height 0.15s ease-in-out;*/
}
/*.markItUpFooter:hover .markItUpResizeHandle {
  height:25px;
  -webkit-transition: height 0.01s ease-in-out;
     -moz-transition: height 0.01s ease-in-out;
      -ms-transition: height 0.01s ease-in-out;
       -o-transition: height 0.01s ease-in-out;
          transition: height 0.01s ease-in-out;
  }*/
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul {
  display: table;
  width:99.99%;
}
.markItUpHeader ul li  {
  list-style:none;
  float:left;
  position:relative;
}
.markItUpHeader ul li ul{
  display:none;
}
.markItUpHeader ul li:hover > ul{
  display:block;
}
.markItUpHeader ul .markItUpDropMenu {
  background:transparent url(images/menu.png) no-repeat 115% 50%;
  margin-right:0;
}
.markItUpHeader ul .markItUpDropMenu li {
  margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
  margin:0 10px;
  width:1px;
  height:22px;
  overflow:hidden;
  background-color:#CCC;
  color:#ccc;
}
.markItUpHeader ul ul .markItUpSeparator {
  width:auto; height:1px;
  margin:0;
}
/* next rows of buttons */
.markItUpHeader ul ul {
  display:none;
  position:absolute;
  top:18px;
  left:0px;
  background: #F5F5F5;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.81);
  border-radius:2px;
  border:0;
  height:auto;
  padding:4px;
  width:auto;
  z-index:9999;
}
.markItUpHeader ul ul li {
  float:none;
  border:0;
}
.markItUpHeader ul ul .markItUpDropMenu {
  background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%; /* tiny arrow */
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
  position:absolute;
  top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
  float:none;
}
.markItUpHeader ul a {
  display:block;
  width:16px; height:16px;
  text-indent:-10000px;
  background-repeat:no-repeat;
  padding:3px;
  margin:0px;
}
.markItUpHeader ul ul a {
  display:table-cell;
  text-indent:0;
  padding:3px;
  white-space: nowrap;
  background: transparent;
  background-image: none !important;
}

.markItUpHeader ul ul li:hover  {
  background-color:rgba(0,0,0,0.1);
}

.markItUpHeader ul ul a:hover  {
  text-decoration: none !important;
}


.markItUpContainer ul {
    margin-left:0 !important;
}
.markItUpContainer li {
    list-style:none !important;
}

.markItUpHeader > ul:after {
    clear: both;
    content: ".";
    visibility: hidden;
}


/* FULLSCREEN *****************************************************************/

body.markitup_fullscreen {
  overflow:hidden;
}

.markItUp.fullscreen {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:auto;
    height:99.99%;
    z-index:9999;
    background:white;
}
.markItUp.fullscreen .markItUpContainer {
  height:99.99%;
}
.markItUp.fullscreen .markItUpPreviewFrame {
    overflow:auto;
}


/* PREVIEW CSS ****************************************************************/

.markItUpPreviewFrame {
  background:url("images/bg-editor-plain.png") repeat-x #fff;
}
